.App {
  /* text-align: center;   */
}

.App-logo {
  /* height: 20vmin; */
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  /* height: 90vmin; */
}

.App-footer {
  background-color: #282c34;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.App-link {
  color: #09d3ac;
}
